<!DOCTYPE html>
<html xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org/)">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>홈페이지</title>
<style>
table {
	margin: auto;
	border: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 1px solid #444444;
	text-align: center;
}
</style>
</head>
<body>
	<h1>전화목록</h1>
	<h1 th:text="${frndNm}"></h1>
	<table>
		<tr>
			<th>순번</th>
			<th>전화 구분</th>
			<th>전화 번호</th>
			<th>등록일시</th>
			<th>수정일시</th>
			<th>업무</th>
		</tr>
		<td colspan="6" th:if="${#lists.size(friend)== 0}">지인 목록 결과가
			없습니다.</td>
		<tr th:each="plist,index : ${friend}">
			<td th:text="${plist.telSeq}-${plist.telSeq}+${index.index}+1"></td>
			<td th:text="${plist.telType}"></td>
			<td><span th:text="${plist.telNo1}" />-<span
				th:text="${plist.telNo2}" />-<span th:text="${plist.telNo3}" /></td>
				<td th:text="${#temporals.format(plist.createdDate, 'yyyy.MM.dd HH:mm:ss')}"></td>
			<td th:text="${#temporals.format(plist.modifiedDate, 'yyyy.MM.dd HH:mm:ss')}"></td>
			<td><button type="button" th:onclick="'location.href=\'/detailupdate?telSeq='+ @{${plist.telSeq}} + '&frndNm='+ @{${frndNm}} + '&frndseq='+ @{${frndseq.frndSeq}} + '\''">수정</button>
				<button type="button" th:onclick="'location.href=\'/detaildelete?telSeq='+ @{${plist.telSeq}} + '&frndNm='+ @{${frndNm}} + '&frndseq='+ @{${frndseq.frndSeq}} + '\''">삭제</button></td>
		</tr>
		<tr>
			<td colspan="6"><button type="button" th:onclick="'location.href=\'/detailregistration?frndseq='+ @{${frndseq.frndSeq}} + '&frndNm='+ @{${frndNm}} +'\''">등록</button>
				<button type="button" onClick="location.href='/list'">목록</button></td>
		</tr>
	</table>

</body>
</html>