<!DOCTYPE html>
<html xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org/)">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>홈페이지</title>
<style>
table {
	margin: auto;
	border: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 1px solid #444444;
}
</style>
</head>
<body>
	<h1>지인 목록</h1>
	<table>
		<tr>
			<th>순번</th>
			<th>지인이름</th>
			<th>전화 수</th>
			<th>등록일시</th>
			<th>수정일시</th>
			<th>업무</th>
		</tr>
		<td colspan="6" th:if="${#lists.size(friendlist)== 0}">지인 목록 결과가
			없습니다.</td>
		<tr th:each="flist, index : ${friendlist}">
			<td th:text="${flist.frndSeq}-${flist.frndSeq}+${index.index}+1"></td>
			<td><a
				th:href="@{/detail(frndNm = ${flist.frndNm}, frndseq= ${flist.frndSeq})}"><div
						th:text="${flist.frndNm}"></div></a></td>
			<td></td>
			<td th:text="${flist.createdDate}"></td>
			<td th:text="${flist.modifiedDate}"></td>
			<td><button type="button"
					th:onclick="'location.href=\'/update?frndseq='+ @{${flist.frndSeq}} + '\''">수정</button>
				<button type="button"
					th:onclick="'location.href=\'/delete?frndseq='+ @{${flist.frndSeq}} + '\''">삭제</button></td>
		</tr>
		<tr>
			<td colspan="6"><button type="button"
					onClick="location.href='/registration'">등록</button></td>
		</tr>
		<tr >
			<td colspan="6"><span th:each="page : ${#numbers.sequence(0, endPage)}">1</span></td>
		</tr>
	</table>
</body>
</html>